.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*  ===========хедер=========== */
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo-studio {
  color: #2e2f42;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-item {
  display: flex;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
:focus {
  color: #404bbf;
}

.address-one {
  font-style: normal;
}
.address-list {
  display: flex;
  column-gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address:hover,
:focus {
  color: #404bbf;
}
.title-section-one {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.address-list {
  display: flex;
  gap: 40px;
}
.current {
  position: relative;
  color: #404bbf;
}
.menu-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

/*=========== перша секція==========*/
.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
}

.button-section-one {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-section-one:hover,
:focus {
  background-color: #404bbf;
}
.title-section-one {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

/*============друга секція============= */
.section-two {
  padding: 120px 0;
}
.features-section-two {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-list {
  display: flex;
  gap: 24px;
}
.text-section-two {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title-section-two {
  margin-bottom: 8px;
}
.item-section-two {
  width: calc((100% - 72px) / 4);
}
.item-section-two-div {
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px;
  border-color: #8e8f99;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*==================третя секція==================*/
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.item-section-three {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.title-section-three {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.name-section-three {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-section-three {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.section-three-div {
  padding: 32px 0;
}
.social-media-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.item-social-media {
  width: 40px;
  height: 40px;
}
.social-media-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon:hover,
.social-media-icon:focus {
  background-color: #404bbf;
}
.icon-card-one {
  fill: #f4f4fd;
}

/*==============четверта секція=============*/
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-section-four {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.name-section-four {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-section-four {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.section-four-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.item-section-four:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item-section-four-overlay {
  position: relative;
  overflow: hidden;
}
.item-section-four {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-section-four-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-section-four:hover p {
  transform: translateY(0%);
}
/*================футер=============*/
.text-footer-one {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.logo-studio-footer {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-one {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
}
.web-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.sosial-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-two {
  display: flex;
  align-items: baseline;
}
.footer-three {
  margin-right: 120px;
}
.social-media-icons-list-footer {
  display: flex;
  gap: 16px;
}
.item-social-media-footer {
  width: 40px;
  height: 40px;
}
.social-media-icon-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon-footer:hover,
.social-media-icon-footer:focus {
  background-color: #31d0aa;
}
.icon-card-footer {
  fill: #f4f4fd;
}
.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-form-btn-icon {
  margin-left: 16px;
}
.footer-five-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/*================backdrop=============*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/*================modal window =============*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  stroke: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-description {
  width: 360px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 24px;
  color: #2e2f42;
  margin-bottom: 16px;
}
.review-form-input {
  background-color: transparent;
  width: 100%;
  height: 360px;
  height: 40px;
  border-radius: 4px;
  color: #2e2f42;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.review-form-input:focus {
  border-color: #4d5ae5;
}
.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
}
.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
  margin-bottom: 4px;
  line-height: 1.17;
}
.review-form-input-wrapper {
  position: relative;
}
.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}
.review-form-comment:focus {
  border-color: #4d5ae5;
}
.review-form-comment::placeholder {
  color: #2e2f42;
}
.review-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
}
.review-form-own-checkbox-icon {
  fill: #ffffff;
  opacity: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox-icon {
  opacity: 1;
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/*.review-form-checkbox:focus
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  border: 1px solid #4d5ae5;}*/

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.different-color {
  color: #4d5ae5;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-submit-btn {
  width: 170px;
  height: 56px;
  margin: 0 auto;
  background: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-wrapper-one {
  margin-bottom: 16px;
}
